{{ template "base" . }}

{{ define "title" }} 
    Home
{{ end }}

{{ define "body" }} 
    {{ if .IsAuthenticated }}
    {{ else }}
    <div class="uk-container uk-align-right uk-margin uk-width-2-5">
        <form action="/login" method="post" 
                class="uk-card uk-card-small uk-card-default uk-card-body " autocomplete="off" novalidate>
            <div class="uk-margin">
                <label for="email" class="uk-form-label"> Email </label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" id="email" name="email">
                </div>
                {{ with .form.Errors.email }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <label for="password" class="uk-form-label"> Password </label>
                <div class="uk-form-controls">
                    <input type="password" class="uk-input" id="password" name="pass">
                </div>
                {{ with .form.Errors.pass }}
                    {{ range . }}
                        <p class="uk-text-danger"> {{ . }} </p>
                    {{ end }}
                {{ end }}
            </div>

            <div class="uk-margin">
                <input type="submit" class="uk-button uk-button-primary" value="Login">
            </div>

            <div class="uk-card-footer">
                <a href="/signup">  Don't an account ?  create one </a>
            </div>
        </form>
    </div>
    {{ end }}
{{ end }}